<h1>Switchboard</h1>

<div class='brown'><div (click)='flip("one")' class='switch' [ngClass]="{'off': (switches.one=='Off')}">{{ switches.one }}</div></div>
<div class='brown'><div (click)='flip("two")' class='switch' [ngClass]="{'off': (switches.two=='Off')}">{{ switches.two }}</div></div>
<div class='brown'><div (click)='flip("three")' class='switch' [ngClass]="{'off': (switches.three=='Off')}">{{ switches.three }}</div></div>
<div class='brown'><div (click)='flip("four")' class='switch' [ngClass]="{'off': (switches.four=='Off')}">{{ switches.four }}</div></div>
<div class='brown'><div (click)='flip("five")' class='switch' [ngClass]="{'off': (switches.five=='Off')}">{{ switches.five }}</div></div>
<div class='brown'><div (click)='flip("six")' class='switch' [ngClass]="{'off': (switches.six=='Off')}">{{ switches.six }}</div></div>
<div class='brown'><div (click)='flip("seven")' class='switch' [ngClass]="{'off': (switches.seven=='Off')}">{{ switches.seven }}</div></div>
<div class='brown'><div (click)='flip("eight")' class='switch' [ngClass]="{'off': (switches.eight=='Off')}">{{ switches.eight }}</div></div> 
