<h1>Retro Barcode Generator</h1>

<div *ngFor='let num of rands' class="color_block" [ngStyle]="{'background-color': colors[num]}"></div>
<!-- <div class="color_block" [ngStyle]="{'background-color': colors[rand]}"></div>
<div class="color_block" [ngStyle]="{'background-color': colors[rand]}"></div>
<div class="color_block" [ngStyle]="{'background-color': colors[rand]}"></div>
<div class="color_block" [ngStyle]="{'background-color': colors[rand]}"></div>
<div class="color_block" [ngStyle]="{'background-color': colors[rand]}"></div>
<div class="color_block" [ngStyle]="{'background-color': colors[rand]}"></div>
<div class="color_block" [ngStyle]="{'background-color': colors[rand]}"></div>
<div class="color_block" [ngStyle]="{'background-color': colors[rand]}"></div>
<div class="color_block" [ngStyle]="{'background-color': colors[rand]}"></div> -->


